@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-variable-weight.ttf');
}
@font-face {
  font-family: 'Fondamento';
  src: url('/fonts/fondamento-regular.ttf');
}
@font-face {
  font-family: 'NotoSans';
  src:
    local("Noto Sans JP"),
    url("../fonts/NotoSansJP-VariableFont_wght.ttf") format("TrueType");
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 1000px;
  color: rgb(69, 69, 69);
  /* background-color:bisque; */
  background-color:  #f6f5fe;
 

  /* #e4e2fd; */
  /* #edecfe; */
  /* #f6f5fe */
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

nav{
  margin-top: 5rem;
  margin-bottom:2rem;
  font-size: large;
  text-align: center;
}
nav a {
  color: rgb(69, 69, 69);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 18px 15px 20px;
  position: relative;
}
nav a:hover{
  font-weight: bold;
}
nav a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(69, 69, 69);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after { 
  width: 100%; 
  left: 0; 
}


/* h2 a {
  color: #00e;
  text-decoration: none;
} */


footer {
  border-top: 1px solid #222;
  padding-top: 2rem;
}

.story-fig{
  max-width:400px;
}
.story-fig img{
  max-width:400px;
}
.social-bug{
  width:50px;
  aspect-ratio: 1 / 1;
}
.center-flex-justified {
  display:flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.copyright{
  font-style: italic;
  font-size: small;
}